@model IEnumerable<Mooshak26.Models.Entities.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Admin Course page</h2>

<p>
    @Html.ActionLink("Create New Course", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Course
        </th>
        <th>
            Description
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Go Back", "Index", new { controller = "Courses" }, new { @class = "btn btn-default" })