@model IEnumerable<Mooshak26.Models.Entities.Solution>

@{
    ViewBag.Title = "Index";
}

<h2>Solutions for Milestone</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.input)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.output)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.input)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.output)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
@if(Model.ElementAt(0) != null)
{
    @Html.ActionLink("Go Back", "Index", new { controller = "Milestones", id = Model.ElementAt(0).assignmentID }, new { @class = "btn btn-default" })
}
else
{
    @Html.ActionLink("Go Back", "Index", new { controller = "Courses" }, new { @class = "btn btn-default" })
}