@model Mooshak26.Models.ViewModels.MilestoneViewModel
    

@{
    ViewBag.Title = "Details";
}
@using (Html.BeginForm("Details", "Milestones", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br />
    <h2>Details about milestone</h2>
<h4>To turn in your program, press <em>"Choose file"</em> and find the file to submit.</h4>

    <div>
     
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.milestone.assignmentID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.milestone.assignmentID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.milestone.title)
            </dt>
        
            <dd>
                @Html.DisplayFor(model => model.milestone.title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.milestone.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.milestone.description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.milestone.grade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.milestone.grade)
            </dd>

        </dl>
    </div>
    <div>
        @Html.HiddenFor(model => model.milestone.assignmentID)
        @Html.HiddenFor(model => model.milestone.id)
        @Html.HiddenFor(model => model.milestone.grade)

        @Html.TextBoxFor(model => model.file, new { type = "file" })
        <br />
        <input type="submit" value="Submit" class="btn btn-default" />
        @Html.ActionLink("Go Back", "Index", new { controller = "Milestones", id = Model.milestone.assignmentID }, new { @class = "btn btn-default" })
     </div>
    <br />

       
}