@model IEnumerable<Mooshak26.Models.Entities.Link>

@{
    ViewBag.Title = "Index";
}

<h2>Link table</h2>

<p>
    @Html.ActionLink("Create New Link", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Username
        </th>
        
        <th>
            Course
        </th>
      
        <th>
            Role
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Go Back", "Index", new { controller = "Courses" }, new { @class = "btn btn-default" })